{% extends 'Base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8">
<div class="jumbotron">

        <h2>About me</h2>
        <hr>
        <div class="form-group">

        <p>Thanks for visiting my blog! Check all this cool stuff about me.!</p>
        <p>Thanks for visiting my blog! Check all this cool stuff about me.!</p>
        <p>Thanks for visiting my blog! Check all this cool stuff about me.!</p>
        <p>Thanks for visiting my blog! Check all this cool stuff about me.!</p>
        <p>Thanks for visiting my blog! Check all this cool stuff about me.!</p>
        <p>Thanks for visiting my blog! Check all this cool stuff about me.!</p>
        <p>Thanks for visiting my blog! Check all this cool stuff about me.!</p>
        <p>Thanks for visiting my blog! Check all this cool stuff about me.!</p>
         </div>


<div class="container">
    <h2>Pictures of nature</h2>
    <div class="row">
        <div class="col-lg-4 col-xs-6 thumbnail"><img src="https://images.pexels.com/photos/1308881/pexels-photo-1308881.jpeg?cs=srgb&dl=ao-dai-beautiful-beauty-1308881.jpg&fm=jpg" alt="" ></div>
        <div class="col-lg-4 col-xs-6 thumbnail"><img src="https://images.pexels.com/photos/853199/pexels-photo-853199.jpeg?cs=srgb&dl=4k-wallpaper-background-beautiful-853199.jpg&fm=jpg" alt=""></div>
        <div class="col-lg-4 col-xs-6 thumbnail"><img src="https://images.pexels.com/photos/237018/pexels-photo-237018.jpeg?cs=srgb&dl=asphalt-beauty-colorful-237018.jpg&fm=jpg" alt=""></div>
    </div>
     <div class="row">
        <div class="col-lg-4 col-xs-6 thumbnail"><img src="https://images.pexels.com/photos/2590967/pexels-photo-2590967.jpeg?cs=srgb&dl=aerial-shot-beach-high-angle-shot-2590967.jpg&fm=jpg" alt=""></div>
        <div class="col-lg-4 col-xs-6 thumbnail"><img src="https://images.pexels.com/photos/613826/pexels-photo-613826.jpeg?cs=srgb&dl=bay-beach-coast-613826.jpg&fm=jpg" alt="" ></div>
        <div class="col-lg-4 col-xs-6 thumbnail"><img src="https://images.pexels.com/photos/1655179/pexels-photo-1655179.jpeg?cs=srgb&dl=beach-boats-bushes-1655179.jpg&fm=jpg" alt="" ></div>
    </div>
</div>
</div>
</div>
</div></div>
{% endblock %}